*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display:flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
   
}
header >img{
    width: 170px;
    height: 100px;
}
header>nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


.barra-navegacion{
display: flex;
list-style: none;
justify-content: space-around;
width: 100%;
gap: 10%
}
 
.menu-navegación{
    display: none;
    width: 70px;
    height: 70px;
  
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
@media (max-width: 700px){
    header>nav{
        display:none;
    }
    .menu-navegación{
        display:block;
    }
}
 #hero {
   display:flex;
    align-items: center;
    justify-content: space-around;
   flex-wrap: wrap;
   position: relative;

 }
 #hero > .foto-hero {
    position: relative;
    width: 100%;
    display: block;
 }
 .texto-encabezado{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
   z-index: 2;
   font-size: 20px;

    
 }
 .tarjetas {
   display:flex;
   
 }

    .tarjetas > div {
        display: flex; 
        flex-direction: row;; 
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
      /*  background-color: gold;*/
        width: 100%;
        margin-top: 5%;
        margin-left: 5%;
        margin-right:5%;
        align-items: center;
        justify-content: space-between;
    }


 button{
    display:flex;
    margin-top: 30px;
    margin-left: 10%;
    gap: 30px;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
 
 }



.coche1>img{
    border: 2px solid black;
    border-radius: 10%;
    object-fit: cover;
   width: 500px;
    height:75%;


    

}
.coche2>img{
    border: 2px solid black;
    border-radius: 10%;
    object-fit: cover;
   width: 500px;
    height: 75%;
  

}

.coche3>img{
    border: 2px solid black;
    border-radius: 10%;
    object-fit: cover;
    width: 500px;
    height: 75%;
   

}
.coche4>img{
    border: 2px solid black;
    border-radius: 10%;
    object-fit: cover;
    width: 500px;
    height: 75%;
   


}

.coche1 button,
.coche2 button,
.coche3 button,
.coche4 button{

position:relative;
bottom:150px ;
}
.boton3{
    right: 5%;
   
}
.boton4{
    right: 5%;
}
.coche1:hover, 
.coche2:hover,
.coche3:hover,
.coche4:hover {
    transition: 0.5s;
    transform: scale(1.05);
}
button:hover{
    transform: scale(1.05);
}
 